# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# Environment variables
.env
.env.*

# Build / dist
dist/
build/

# macOS
.DS_Store

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
